
@import url(container.css);
@import url(register.css);
@import url(bootstrap.min.css);
@import url(dashboard.css);
@import url(pages.css);
@import url(comentarios.css);
@import url(detalle.css);
@import url(cash.css);

/* VARIABLES */

:root {
    --main-primary-color: #ff8243 !important;
    --main-seconday-color: #c8b18a !important;
    --main-tercer-color: #fda65d !important;
    --opacity: 64% !important;
    --container-bg:rgba(248, 188, 117, 0.5) !important;
    --radius-generally: 15px !important;
  }
  

